<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.media.mapper.LikeListMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.media.domain.po.LikeList">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="deriveId" column="derive_id" jdbcType="BIGINT"/>
            <result property="userFromId" column="user_from_id" jdbcType="BIGINT"/>
            <result property="category" column="category" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="userToId" column="user_to_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,derive_id,
        user_from_id,category,create_time,
        user_to_id
    </sql>

    <delete id="deleteByParentCommentId">
        DELETE `like_list`
        FROM `like_list`,
             (SELECT id
              FROM `comment`
              WHERE id = #{commentId}
              UNION
              SELECT id
              FROM `comment`
              WHERE parent_id = #{commentId}) id_list
        WHERE like_list.derive_id = id_list.id
          AND derive_type = 2
    </delete>
</mapper>
