<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.media.mapper.MediaFileMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.media.domain.po.MediaFile">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uploadUser" column="upload_user" jdbcType="BIGINT"/>
            <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,upload_user,bucket,
        file_path,upload_time
    </sql>
</mapper>
