<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.user.mapper.ConcernMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.user.domain.po.Concern">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userFromId" column="user_from_id" jdbcType="BIGINT"/>
            <result property="userToId" column="user_to_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_from_id,user_to_id,
        create_time
    </sql>
</mapper>
