<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.order.mapper.TradeMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.order.domain.po.Trade">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="deriveId" column="derive_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,total_price,create_time,
        user_id,detail,description,
        status,derive_id
    </sql>
</mapper>
