<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.base.domain.po.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="wxUnionId" column="wx_union_id" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="background" column="background" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        wx_union_id,profile,
        background,introduction,birthday,
        gender,email,phone,
        create_time,status
    </sql>

    <sql id="Target_User">
        target_user.id,username,password,
        wx_union_id,profile,
        background,introduction,birthday,
        gender,email,phone,
        target_user.create_time,status
    </sql>

    <resultMap id="userRoleList" type="com.beechannel.auth.domain.dto.UserExt">
        <id column="id" property="id" />
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="wx_union_id" property="wxUnionId"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="birthday" property="birthday"/>
        <result column="profile" property="profile"/>
        <result column="background" property="background"/>
        <result column="gender" property="gender"/>
        <result column="introduction" property="introduction"/>
        <collection property="roleList" ofType="com.beechannel.base.domain.po.Role">
            <id column="roleId" property="id"/>
            <result column="role_code" property="roleCode"/>
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <select id="getUserAndRoleList" resultMap="userRoleList">
        select user.id,
               user.username,
               user.password,
               user.wx_union_id,
               user.profile,
               user.introduction,
               user.birthday,
               user.background,
               user.gender,
               user.email,
               user.phone,
               user.status,
               user.create_time,
               role.id roleId,
               role.role_code,
               role.role_name
        from user
                 left join user_role on user.id = user_role.user_id
                 left join role on user_role.role_id = role.id
        where email = #{keyword} or wx_union_id = #{keyword}
    </select>

</mapper>
