<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beechannel.live.mapper.SuperviseLicenseMapper">

    <resultMap id="BaseResultMap" type="com.beechannel.live.domain.po.SuperviseLicense">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="supervisorId" column="supervisor_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="superviseTime" column="supervise_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,reason,
        supervisor_id,create_time,supervise_time,
        status
    </sql>
</mapper>
